extends layout

block content
 h1=title
 p
    a(href="./") Index
 h2=message
 form.form-horizontal(action="/form", method="post", role="form")
        .form-group
          label.control-label(for="name") Name         
            input#name.form-control(name="fullName")
        .form-group
          label.control-label(for="name") Name         
            input#name.form-control(name="fullName")
        .form-group
          label.control-label(for="name") Name         
            input#name.form-control(name="fullName")  
        input(type="submit" value="Submit") 


