doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    link(rel='stylesheet', href='/css/style.css')
  body
    ul
        li 
            a(href='/about') About
        li 
            a(href='/index') Index
        li 
            a(href='/form') Form

    .container
      block content