extends layout

block content
    h1=title
    p
        strong #{fullName}
        
    p
        strong #{email}
        
    p
        strong #{comment}
        
    p
        a(href="./form") Back